<!--
  Generated template for the TechnologyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Technology</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="technology" text-wrap>
    <ion-card>
      <ion-card-header>
        {{technology.name}}
      </ion-card-header>
      <ion-card-content>
        {{technology.description}}
        <p>
          Cost: {{technology.cost}}
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="technology.eureka">
      <ion-card-header>Eureka Bonus</ion-card-header>
      <ion-card-content>{{technology.eureka}}</ion-card-content>
    </ion-card>
    <div *ngFor="let prereq of technology.prerequisites">
      <info-card [category]="techString" [id]="prereq">
      </info-card>
    </div>


    <div *ngIf="technology.unlocks">
      <ion-item *ngFor="let i of technology.unlocks.improvements">
        {{i}}
      </ion-item>
      <ion-card *ngFor="let unit of technology.unlocks.units">
        {{unit}} <a href="/#/units/{{unit}}">goto</a>
      </ion-card>

      <info-card *ngFor="let unit of technology.unlocks.units">
      </info-card>
    </div>

  </ion-list>
</ion-content>
