<!--
  Generated template for the UnitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Unit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="unit">
    <ion-item >
      <h2>
        {{unit.name}}
      </h2>
      <p>
        {{unit.description}}
      </p>
      <p>
        Costs: {{unit.cost}}
        Movement: {{unit.movement}}
      </p>
    </ion-item>
    <div *ngIf="unit.requires">
      <info-card [id]="unit.requires.tech">
      </info-card>
    </div>
  </div>
</ion-content>
