<!--
  Generated template for the UnitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Unit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="unit">
    <ion-card >
      <ion-card-header>
        {{unit.name}}
      </ion-card-header>
      <ion-card-content>
        <p>
          {{unit.description}}
        </p>
        <p>
          Type:{{unit.class}}
        </p>
        <p>
          Costs: {{unit.cost}}
        </p>
        <p>
          Movement: {{unit.move}}
        </p>


      </ion-card-content>
    </ion-card>
    <div *ngIf="unit.requires">
      <info-card [category]="tecivic" [id]="unit.requires">
      </info-card>
    </div>
  </div>
</ion-content>
